# To make setup easy I left url string for my postgres db instance hosted on elephantsql
HOST=127.0.0.1
PORT=3333
NODE_ENV=development
APP_URL=http://${HOST}:${PORT}
CACHE_VIEWS=false
APP_KEY=thisisjustarandomkeythatadonisrequires
DB_CONNECTION=pg
DB_CONNECTION_URL=postgres://cqchsbdj:dceKIMfPvKuHjpGo6OjV6Y0DHJe78qcG@rajje.db.elephantsql.com:5432/cqchsbdj
SESSION_DRIVER=cookie
HASH_DRIVER=bcrypt
AUTH_TOKEN_EXPIRY_SECS=172800
