{
    "env": {
        "browser": true,
        "es6": true
    },
    "plugins": ["prettier"],
    "extends": ["airbnb-base", "prettier"],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "rules": {
        "strict": "off",
        "no-undef": "off",
        "no-unused-vars": "off",
        "no-param-reassign": "off",
        "no-await-in-loop": "off",
        "no-restricted-syntax": "off",
        "class-methods-use-this": "off",
        "camelcase": "off",
        "prettier/prettier": [
            "error",
            {
              "trailingComma": "es5",
              "tabWidth": 2,
              "semi": true,
              "singleQuote": true,
              "endOfLine": "lf"
            }
          ]
    }
}